In [3]:
import pandas as pd


data = pd.read_fwf("../Original Data/weather.txt", widths=[11,4,2,4]+[5,3]*31, header=None)
for i in range(5,66,2):
    data=data.drop(i, axis=1)

    
data

,0,1,2,3,4,6,8,10,12,14,...,46,48,50,52,54,56,58,60,62,64
0,MX000017004,1955,4,TMAX,310,310,310,320,330,320,...,330,330,330,330,330,330,340,330,320,-9999
1,MX000017004,1955,4,TMIN,150,150,160,150,160,160,...,170,170,170,180,190,190,170,180,160,-9999
2,MX000017004,1955,4,PRCP,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,-9999
3,MX000017004,1955,5,TMAX,310,310,310,300,300,300,...,330,340,350,330,310,310,320,310,300,290
4,MX000017004,1955,5,TMIN,200,160,160,150,150,150,...,170,190,190,190,180,160,150,170,150,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,MX000017004,2011,3,TMIN,-9999,-9999,-9999,-9999,148,-9999,...,-9999,-9999,-9999,-9999,162,-9999,-9999,-9999,-9999,170
1710,MX000017004,2011,3,PRCP,0,-9999,0,0,0,-9999,...,0,-9999,0,-9999,0,-9999,-9999,0,-9999,0
1711,MX000017004,2011,4,TMAX,-9999,350,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1712,MX000017004,2011,4,TMIN,-9999,168,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1713,MX000017004,2011,4,PRCP,0,0,-9999,-9999,0,0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [2]:
melted = data.melt(id_vars =[0, 1, 2, 3])
melted.head(100)

def reindex(index):
    return round(index/2-1)


melted.variable=melted.variable.apply(reindex)
melted=melted.rename(columns={0: "id", 1: "rok", 2:"mc", 3:"co", "variable":"dzien"})
melted["data"]=melted.rok.map(str)+"-"+melted.mc.map(str)+"-"+melted.dzien.map(str)

melted=melted.drop("mc",axis=1)
melted=melted.drop("rok",axis=1)
melted=melted.drop("dzien",axis=1)
melted

                id    co  value       data
0      MX000017004  TMAX    310   1955-4-1
1      MX000017004  TMIN    150   1955-4-1
2      MX000017004  PRCP      0   1955-4-1
3      MX000017004  TMAX    310   1955-5-1
4      MX000017004  TMIN    200   1955-5-1
...            ...   ...    ...        ...
53129  MX000017004  TMIN    170  2011-3-31
53130  MX000017004  PRCP      0  2011-3-31
53131  MX000017004  TMAX  -9999  2011-4-31
53132  MX000017004  TMIN  -9999  2011-4-31
53133  MX000017004  PRCP  -9999  2011-4-31

[53134 rows x 4 columns]